@import 'swatches';
@import 'fonts';
@import 'normalize';
@import 'skeleton';
@import 'simple';

/* for mobile #mobilefirst */
body{
  font-family: 'gothamlightregular', serif;
  background-color: $seriousblue;
}

.header{
  background-color: $seriousblue;
  min-width: 400px;
  text-align: center;
  font-family: 'gothamlightregular', serif;
  img{
    width: 400px;
  }
  a{
    color: $white;
    font-weight: normal;
    text-decoration: underline;
    font-style: normal;
  }
  a:hover{
    color: $seriouslySweet;
  }
}

.tsunami{
  background: url(../images/The_Great_Wave_off_Kanagawa.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height:200px;
  text-align: center;
  min-width:460px;
  h1{
    font-family: 'Permanent Marker', cursive;
    color: $seriousblue;
    font-size: 42px;
    line-height: 200px;
    background-color: rgba(221, 197, 162, 0.78);
    display: inline;
    padding: 5px 20px 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.intro{
  background-color: $seriousblue;
  line-height: 25px;
  padding-bottom: 20px;
  padding-top:20px;
  text-align: center;
  p{
    margin:0px;
  }
}


.divider{
  background-color: $seriousblue;
  height: 20px;
}

.meetup{
  background-color: $problue;
  min-width: 400px;
  h1{
    color: $white;
    font-size: 24px;
    font-family: 'gothamlightregular', serif;
    text-transform: uppercase;
  }
  p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    font-style: italic;
  }
  a{
    color: $lightblue;
  }
  img{
    width:375px;
    display:none;
  }
  .buttonContainer{
    margin-top:60px;
  }
}

.channels{
  background-color: $problue;
  min-width: 400px;
  h1{
    color: $white;
    font-size: 24px;
    font-family: 'gothamlightregular', serif;
    text-transform: uppercase;
  }
  p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    font-style: italic;
  }
  a{
    color: $lightblue;
  }
}
.training{
  background-color: #2D3550;
}

.content{
  background-color: $navyblue;
  min-width: 400px;
  h1{
    color: $white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'gothamlightregular', serif;
    text-transform: uppercase;
    margin-top:38px
  }
  p{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    font-style: italic;
  }
  a{
    color: $lightblue;
  }
}

.home{
  color: $white;
  text-align: left;
  h1{
    font-size: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    i{
      color: $orange;
    }
  }
  line-height: 100px;
  font-family: 'gothamlightregular', serif;
}

.medium, .article, .handbook, .training{
  font-family: 'Open Sans', sans-serif;
  img{
    width:214px;
  }
  p{
    font-style: normal;
    margin-bottom:0px;
    letter-spacing: 0.02em;
    color: $white;
  }
  h1{
    font-family: 'Permanent Marker', cursive;
    color: $white;
    font-size: 32px;
    display: inline;
    padding: 5px 20px 10px 20px;
    white-space: nowrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  .metric{
    font-size: 32px;
  }
  .row{
    padding: 0 20px;
  }
}

.buttonContainer{
  a{
    color: $white;
    font-style: normal;
  }
  a:hover {
    text-decoration: none;
  }

}

.center{
  text-align: center;
}

.button{
  background-color: $seriouslySweet;
  color:$white;
  font-weight: bold;
  font-size: 32px;
  border: 0px;
  padding: 10px 30px;
}

.button:hover{
  background-color: $white;
  box-shadow: 0px 10px 15px rgba(12, 130, 119, 0.4);
}

.editorContainer{
  display: flex;
}

.editor{
  margin-bottom: 20px;
  a{
    color: $yellow;
    font-style: normal;
  }

  font-size: 28px;
  text-align: center;
  width:140px;
  min-width: 120px;
  float: left;
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  img:hover{
    border: 2px;
    border-color: white;
    border-style: solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}



.build{
  background-color: $seriousblue;
  height: 40px;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  color: $white;
  line-height: 40px;
}

.logo{
  margin: 30px 0px 20px 0px;
}

.logo-min-width{
  min-width: 180px;
}

.right{
  text-align: right;
}

.pBoxDark{
  background-color: $problue;
  padding:40px;
  span{
    line-height: 2.5;
  }
}

.error p{
  color: $red;
}
.success p{
  color: $turquoise;
}

ol{
  margin-left: 40px;
  list-style-type: decimal;
  list-style-position: outside;
  li{
    list-style-type: decimal;
    list-style-position: outside;
    padding-bottom:20px;
  }
  li:last-child {
    padding-bottom:0px;
  }
}

a{
  font-style: italic;
}
a:hover{
  text-decoration:underline;
}

/* for desktop: */
@media only screen and (min-device-width : 780px) {
  .header{
    text-align: left;
  }
  .logo{
    padding-left: 80px;
  }
  .home{
    white-space:nowrap;
    text-align: right;
    h1{
      font-size: 18px;
    }
  }
  .tsunami{
    height:300px;
    text-align: right;
    h1{
      line-height: 500px;
      padding: 20px 200px 10px 20px;
      background-color: transparent;
    }
  }
  .content{
    h1{
      margin-top: 0px;
      font-size:24px;
    }
    p{
      font-size:16px;
    }
  }
  .meetup{
    padding-bottom: 20px;
    p{
      font-size: 14px;
    }
    img{
      display: block;
    }
    .buttonContainer{
      margin-top:0px;
    }
  }
  .scrumbut{
    padding-bottom: 20px;
    text-align: left;
    p{
      font-size: 14px;
      color: $white;
    }
    img{
      display: block;
    }
    .buttonContainer{
      margin-top:0px;
    }
  }
  .channels{
    p{
      font-size: 14px;
    }
  }
  .button{
    font-size: 18px;
    padding: 5px 15px;
  }
  .pBoxDark{
    padding: 20px;
  }
  .editor{
    font-size:12px;
  }
  .build{
    height: 20px;
    font-size: 11px;
    line-height: 20px;
  }
  .medium {
    img {
      width: 150px;
    }
  }
  ol {
    margin-left: 20px;
  }
}

/* for smaller desktop: */
@media only screen and (max-width : 1024px) and (min-device-width : 780px) {
  .tsunami{
    height:200px;
    text-align: right;
    h1{
      line-height: 290px;
      padding: 0px 50px 10px 20px;
      background-color: transparent;
    }
  }
}

/* for smaller desktop: */
@media only screen and (max-width : 780px) and (min-device-width : 780px){
  .tsunami{
    height:200px;
    text-align: right;
    h1{
      line-height: 270px;
      padding: 0px 50px 10px 20px;
      background-color: transparent;
    }
  }
}

/* for even smaller desktop: */
@media only screen and (max-width : 620px)and (min-device-width : 780px){
  .tsunami{
    height:200px;
    text-align: center;
    h1{
      font-size: 36px;
      line-height: 200px;
      padding: 0px 20px 10px 20px;
      background-color: rgba(221, 197, 162, 0.78);
    }
  }
}