.buttonContainer{

  .button{
    background-color: $seriouslySweet;
    font-family: "Gotham Light";
    color:$white;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border: 0px;
    padding: 10px 10px;
    line-height: 18px;
    float:left;
    margin-right:20px;
  }

  .button:hover {

    cursor: pointer;
  }

  .inverse{
    background-color: $problue;
    color:$white;
  }
  .inverse:hover{
    color: $problue;
    background-color:$white;

  }

}



.joinButton, .ticketButton, .formatButton{
  .button{
    color: $white;
    background-color: $problue !important;
  }

  .button:hover {
    color: $problue;
    background-color: $white  !important;
    box-shadow: 0px 10px 15px rgba(30, 36, 54, 0.4)  !important;
  }
  .inverse:hover{
    box-shadow: 0px 10px 15px rgba(30, 36, 54, 0.4)  !important;
  }
}


.publishButton, .loginButton, .joinSubmitButton, .formatButton{
  .button:hover {
    color: $seriouslySweet;
    background-color: $white;
    box-shadow: 0px 10px 15px rgba(246, 43, 92, 0.4);
  }
  .inverse:hover{
    box-shadow: 0px 10px 15px rgba(45, 53, 80, 0.4);
  }
}

.publishButton, .loginButton, .joinButton{
  float: right;
}

/* for desktop: */
@media only screen and (min-device-width : 780px) {
  .button {
    font-size: 18px;
    padding: 5px 15px;
  }
}


@media only screen and (min-width: 414px) and (max-width: 780px){
  /* Styles */
  .publishButton .button{
    margin-right:20px;
  }
  .joinButton .button{
    margin-right:20px;
  }
  .headerOptions{
    .publishButton .button{
      margin-right:0;
    }
    .joinButton .button{
      margin-right:0;
    }
  }
  .homeBanner{
    .joinButton{
      margin-top: 40px;
    }
  }


}