.categories{
  background-color: $softblue;
  min-height: 240px;
  width: 100%;
  font-family: 'Gotham Light', serif;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: normal;
  z-index:3;
  position: sticky;
  top:80px;

  .category{
    min-width:200px;
    min-height: 200px;
    float: left;
    text-transform:capitalize;
    padding-top: 20px;
  }
  .category:last-child{
    margin-right:40px;
  }
  li{
    margin-left: 40px;
    margin-top: 5px;
    color: $white;
    font-size: 12px;
    border-bottom: 1px solid $white;
    padding-left: 10px ;
  }
  li:first-child{
    border-bottom: 1px;
    margin-left: 20px;
    font-family: 'Gotham Bold', serif;
    list-style-type: disc;
  }
  li:hover{
    background-color: $white;
    color: $seriouslySweet;
    font-family: 'Gotham', serif;
    cursor: pointer;
  }
}



.r2m_categories{
  background-color: $masteryGreen;
  min-height: 0;
  width: 100%;
  font-family: 'Gotham Light', serif;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  z-index:3;
  position: sticky;
  top:80px;

  .category{
    min-width:240px;
    float: left;
    text-transform:capitalize;
    padding-top: 20px;
  }
  .category:last-child{
    margin-right:40px;
  }
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li{
    margin-left: 40px;
    margin-top: 5px;
    height:30px;
    color: $problue;
    font-size: 14px;
    border-bottom: 1px solid $white;
    padding-left: 10px ;
    padding-right: 10px ;
    list-style-type: circle;
  }

  li:hover{
    background-color: $white;
    color: $seriousblue;
    cursor: pointer;
  }
}


.collapse{
  min-height: 28px;
  ul{
    display: none;
  }
}

.expand{
  width:100%;
  height:14px;
  border-bottom: 1px dashed $problue;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    width:120px;
    text-align: center;
    background-color: $softblue;
    margin-top: 10px;
  }
}

.r2m_expand{
  width:100%;
  height:14px;
  border-bottom: 1px dashed $masteryOcean;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    width:120px;
    text-align: center;
    background-color: $masteryGreen;
    margin-top: 10px;
    margin-left:20px;
    margin-right:20px;
  }
}

.expand:hover, .r2m_expand:hover{
  cursor: pointer;
  font-family: 'Gotham Bold', serif;
}

/* for desktop: */
@media only screen and (min-width : 1400px) {
  .categories{
    justify-content: space-around;
  }
}
@media only screen and (max-width: 780px) {
  .categories{
    display: grid !important;
    position: inherit;
    z-index:2;
  }
  .category {
    width:auto !important;
    min-height: 100px !important;
    border-top: 1px dashed $white;
    padding-top: 10px !important;
  }
  .category li{
    width:300px !important;

  }
  .categories {
    li:first-child {
      list-style-type: none !important;
      margin-left: 30px !important;
    }
  }

}
