.categoryMenuContainer{
  float:right;
  background-color: $softblue;
  height: 40px;
  padding: 20px;
  margin-top: -20px;
}
.categoryMenuContainer:hover{
  cursor: pointer;
}

.r2mMenuContainer{
  background-color: transparent !important;
}

.categoryMenuSmall{
  margin-top:10px;
  margin-right:5px;
  height:18px;
  vertical-align: middle;
  vertical-align: text-bottom;
}