.editorialHeader{
  border-top:  5px solid $problue;
  background: url(../images/editorial.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height:300px;
  text-align: center;
  .homeBanner{
    background-color: $seriousblue;
    height:500px;
    width:500px;
    margin-left:10%;
    h1{
      font-family: 'Permanent Marker', cursive;
      color: $white;
      font-size: 42px;
      text-align: left;
      padding: 20px 40px;
    }
    div{
      text-align: left;
      font-size: 20px;
      margin-left:40px;
      margin-right:40px;
      padding-top:20px;
      color: $white;
    }
  }

}



/* for smaller desktop: */
@media only screen and (max-width : 1024px) and (min-device-width : 780px) {
  .editorialHeader{
    height:140px;
    text-align: right;
    h1{
      line-height: 130px;
      padding: 0px 50px 10px 20px;
      background-color: transparent;
    }
  }
}


/* for even smaller desktop: */
@media only screen and (max-width: 1100px) {
  .editorialHeader {
    display: none;
  }
}