.header{
  height: 80px;
  background-color: $seriousblue;
  text-align: center;
  font-family: 'Gotham Light', serif;
  overflow:hidden;
  position: sticky;
  top:0px;
  z-index:3;

  .headerMenuItem{
    color: $white !important;
    font-family: "Permanent Marker";
    font-size: 16px;
    a{
      color: $white !important;
    }

  }
}

.r2m_header{
  text-align: center;
  font-family: 'Gotham Light', serif;
  position: sticky;
  top:0px;
  z-index:3;
  padding-left: 140px;
  padding-right: 140px;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.r2m_header_ocean{
  background-color: $masteryOcean;
}

.logo{
  position: absolute;
  margin: 30px 0px 10px 20px;
  cursor: pointer;
  img{
    width: 200px;
  }
}

.logo-min-width{
  min-width: 180px;
}

.headerOptions{
  white-space:nowrap;
  overflow: hidden;
}

.r2m_header {
  .headerMenuItem {
    display: none;
  }
}

.headerMenuItem{
  div{
    cursor: pointer;
  }
}
.headerMenuItem:hover{
  text-decoration: underline;
}

@media only screen and (min-device-width : 780px) {
  .header {
    text-align: left;
  }
  .logo{
    padding-left: 20px;
  }
  .r2m_header {
    .headerMenuItem {
      display: table;
    }
  }
  .r2m_mobileMenu{
    display: none !important;
  }

}

@media only screen and (max-width: 780px) {
  .logo img{
    width:150px;
  }
  .headerMenuItem{
    margin: 8px 16px 0px 0px !important;
  }

}

@media only screen and (max-width: 780px) {
  .r2m_header {
    .headerMenuItem {
      display: none ;
    }
  }
  .r2m_mobileMenu{
    display: block !important;
    font-size: 14px;
  }

}