.meetup{
  background-color: $problue;
  min-width: 400px;
  h1{
    color: $white;
    font-size: 24px;
    font-family: 'gothamlightregular', serif;
    text-transform: uppercase;
  }
  p{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    font-style: italic;
  }
  a{
    color: $lightblue;
  }
  img{
    width:375px;
    display:none;
  }
  .buttonContainer{
    margin-top:60px;
  }
}

/* for desktop: */
@media only screen and (min-device-width : 780px) {
  .meetup {
    padding-bottom: 20px;
    p {
      font-size: 14px;
    }
    img {
      display: block;
    }
    .buttonContainer {
      margin-top: 0px;
    }
  }
}