.pageTitle{
  margin: auto;
  margin-top:40px;
  width: 60%;
  padding: 40px 60px;
  background-color: $white;
  h1{
    margin:0px;
  }
  .author{
    font-size: 12px !important;
  }
  p{
    font-size: 18px;
    color: $grey;
    margin-bottom: 0px;
  }
  a{
    text-decoration: underline;
    color: $grey;
  }
}