.pageHero{
  margin: auto;
  margin-top:40px;
  width: 60%;
  padding: 40px 60px;
  background-color: $white;
  text-align: center;
  img{
    max-height: 300px;

    max-width: 100%;
  }

}
.full{
  img{
    max-height: 100% !important;

    max-width: 100% !important;
  }
}