.pageContent{
  margin: auto;
  width: 60%;
  padding: 40px 60px 80px 60px;
  background-color: $white;
  font-family: Georgia;
  font-size: 18px;
  font-color: rgba(41, 41, 41, 1);
  letter-spacing: 0.02em;
  color: $black;
  h1, h2, h3{
    font-family: 'Gotham Bold', serif;
  }
  h4, h5, h6{
    font-family: 'Gotham Light', serif;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 28px;
  }
  h4, h5, h6{
    font-size: 22px;
  }
  img{
    max-width: 100%;
    max-height: 400px;
  }
  .block-img{
    text-align: center;
  }
  a{
    color: $seriouslySweet;
  }
  li{
    list-style-type: disc;
    font-size: 16px;
  }
}