.playBlanksContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:40px;
  .block{
    margin: 1em auto;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .answerBlock{
    justify-content: center;
    .instruction{
      text-align: center;
    }
  }
  .formRow{
    margin: 0.5em;
    padding: 0.5em;
  }
  .formInput{
    margin: 0.5em;
    padding: 5px;
    line-height: 1.5em;
    border-radius: 10px;
  }
  .wordBox{
    margin: 3px;
    padding: 5px;
    cursor: pointer;
  }
  .wordWrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
  }
  .primaryButton{
    background-color: gold;
    border-radius: 5px;
    border-color: #5b5;
    margin: 0;
    padding: 0.4em 0.8em;
    line-height: 1.5em;
    cursor: pointer;
  }
  .white{
    border: 1px dashed black;
    min-width: 40px;
  }
  .red{
    background-color: $masterySalmon !important;
    border: 1px dashed black;
    min-width: 40px;
  }
  .green{
    background-color: $masteryGreen !important;
    border: 1px dashed black;
    min-width: 40px;
  }
  .answer{
    background-color: white !important;
    border: 1px dashed black;
    min-width: 40px;
  }

}
