.r2m_I, .r2m_II, .r2m_basecamp{
  border-top:  5px solid $problue;
  height:500px;
  text-align: center;
  .homeBanner{
    background-color: $seriousblue;
    height:500px;
    width:500px;
    margin-left:10%;
    h1{
      font-family: 'Permanent Marker', cursive;
      color: $white;
      font-size: 54px;
      text-align: left;
      padding: 20px 40px;
    }
    div{
      text-align: left;
      font-size: 20px;
      margin-left:40px;
      margin-right:40px;
      padding-top:20px;
      color: $white;
    }
  }

}

.r2m_basecamp {
  background: url(../images/basecamp.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.r2m_I {
  background: url(../images/down-the-rabbit-hole.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
.r2m_II {
  background: url(../images/the-key-to-wonderland.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

/* for smaller desktop: */
@media only screen and (max-width : 1024px) and (min-device-width : 780px) {
  .r2m_I, .r2m_II .r2m_basecamp{
    height:140px;
    text-align: right;
    h1{
      line-height: 130px;
      padding: 0px 50px 10px 20px;
      background-color: transparent;
    }
  }
}


/* for even smaller desktop: */
@media only screen and (max-width: 1100px) {
  .r2m_I, .r2m_II .r2m_basecamp {
    display: none;
  }
}