/* colour palette */

$white: #FFFFFF;
$black: #161616;
$grey: #9B9B9B;
$lightgrey: #dcdcdc;
$blue: #038FE6;
$lightblue: #6DD8FA;
$seriousblue: #1E2436;
$problue: #2D3550;
$navyblue: #414D74;
$turquoise: #50E3C2;
$orange: #F5A623;
$pink: #f500ba;
$yellow: #f8d100;